@import "reset.css";
@import "fonts.css";
@import "grid.css";
@import "prose.css";
@import "index.css";
@import "markdowncontent.css";

html {
  font-family: "sans", -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 3.5rem;
  padding: 0 1.5rem;
}

footer {
  font-size: 0.875rem;
  padding: 6rem 1rem 1rem 1rem;
}

footer a {
  font-weight: 500;
}

footer .copyleft {
  display: inline-block;
  transform: rotateY(180deg);
}

/* Utility class to show on only on mobile or desktop */
@media screen and (width > 40em) {
  .mobile-only, figure:has(img.mobile-only) {
    display: none;
  }
}

@media screen and (width <= 40em) {
  .desktop-only, figure:has(img.desktop-only) {
    display: none;
  }
}
